@model IList<Sparkle.Models.PeopleModel>
<div class="tile">
@foreach (var ppl in Model) {
<div class="contentItem manageUser@(ppl.ProfileShortId)">

    <div class="largeAvatarBackground" style='background-image:url(@ppl.ProfilePictureUrl)'>
        <div style="padding-top:150px"><a href="javascript:void(0)" class="button accentColor" onclick="ValideAccount('@ppl.Login', @ppl.ProfileShortId);">Accepter</a></div>
    </div>
    <div style="margin:0 0 5px 10px;padding-top:2px;height:57px; overflow:hidden">
        <a class="accentProfileColor" style="font-size:17px" href="/Person/@ppl.Login">@ppl.FirstName @ppl.LastName</a><br />
        <a href="@Url.Action("Position", "Jobs", new { id = ppl.JobAlias})">@ppl.JobName</a>
    </div>
    <div class="clear"></div>
</div>
}
</div>
<div class="clear"></div>
