@model Sparkle.Models.MessageModel
@{
    Layout = null;
}
<h3 class="networkAccentBgColor">Prendre un café</h3>
<table class="boxForm" cellspacing="10" cellpadding="0">
<tr>
    <td class="networkAccentColor" style="text-align:right">Avec</td>
    <td>@Model.FirstName @Model.LastName</td>
    <td></td>
</tr>
<tr>
    <td class="networkAccentColor" style="text-align:right">Heure</td>
    <td>Proposer de prendre un café à 
        <select id="coffeeHours">
            <option value="00">00</option>
            <option value="01">01</option>
            <option value="02">02</option>
            <option value="03">03</option>
            <option value="04">04</option>
            <option value="05">05</option>
            <option value="06">06</option>
            <option value="07">07</option>
            <option value="08">08</option>
            <option value="09">09</option>
            <option value="10" selected="selected">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
            <option value="17">17</option>
            <option value="18">18</option>
            <option value="19">19</option>
            <option value="20">20</option>
            <option value="21">21</option>
            <option value="22">22</option>
            <option value="23">23</option>
        </select>h 
        <select id="coffeeMinutes">
            <option value="00">00</option>
            <option value="05">05</option>
            <option value="10">10</option>
            <option value="15">15</option>
            <option value="20">20</option>
            <option value="25">25</option>
            <option value="30">30</option>
            <option value="35">35</option>
            <option value="40">40</option>
            <option value="45">45</option>
            <option value="50">50</option>
            <option value="55">55</option>
        </select>
    </td>
</tr>
<tr class="textareafix">
    <td class="networkAccentColor" style="text-align:right">Message</td>
    <td>
        <span class="addCustomMessage">Vous pouvez <a class="networkAccentColor" href="javascript:void(0)" onclick="addCustomMessage()">ajouter un message</a> à votre proposition.</span>
        <div class="customMessage" style="display:none">@Html.TextAreaFor(m => m.Text, new { @class = "textarea textarea480 validate[required]" })</div>
    </td>
</tr>
<tr>
    <td style="text-align:right"> </td>
    <td>
    <input type="hidden" id="coffeeLogin" value="@Model.ToUserLogin" />
    <input type="button" class="button networkAccentBgColor" value="Envoyer" onclick="Profile.Actions.Coffee();" /></td>
</tr>
</table>
<div class="boxPostBack" style="text-align:center">
    <div class="spkIcon spkPeople"></div>
    <div class="spkIcon spkPeople"></div>
    <div class="boxPostBackMessage">Envoi de la proposition à @Model.FirstName...</div>
</div>

<script type="text/javascript">
    function addCustomMessage() {
        $('.addCustomMessage').hide();
        $('.customMessage').slideDown();
        $('#Text').focus();
    }
</script>