@{Layout = "Parent";}

<div style="@Model.Styles.StyleContent">
	<p>Bonjour @Model.FirstName,</p>
    <p>Vous avez demandé un changement d'e-mail le @Model.CreateDateUtc. Si vous n'avez pas fait cette demande, ignorez simplement ce message. Sinon suivez ce lien pour confirmer le changement.</p>
	<p><a style='@Model.Styles.StyleLink' href='@Model.Link'>@Model.Link</a></p>

	<p>Bonne journée,<br />
	L'équipe.</p>
</div>
