@{Layout = "Parent";}

<div style="text-align:center; background-color: @Model.Styles.GroupColor">

	<h1 style="text-align:center; padding: 20px 0; font-weight: lighter; color: #fff">@Model.GroupName</h1>
	<img alt="" src="@Model.GroupPicture" height="100" width="100" />

</div>

<div style="@Model.Styles.StyleContent">
	<p>Bonjour @Model.FirstName,</p>
	<p>
	<a style='@Model.Styles.StyleLink' href='@Model.ProfileUrl'>@Model.ContactFirstName @Model.ContactLastName</a> vous propose de rejoindre le groupe <a style='text-decoration:none; color:@Model.Lang.T("AccentColor");' href='@Model.GroupUrl'>@Model.GroupName</a>.
	</p>

	<div style="border-left:2px solid @Model.Lang.T("AccentColor"); padding-left:5px; margin-bottom:4px">
		<div style="color: #202020;display: block;font-family: Arial;font-weight: lighter;font-size: 14px;margin-top: 0;margin-right: 0;margin-bottom: 0;margin-left: 0;text-align: left;"><a href="@Model.GroupUrl" target="_blank" style="@Model.Styles.StyleLink">@Model.GroupName</a></div>
		<div style="font-size:11px">@(new RazorEngine.Text.RawString(Sparkle.Helpers.HtmlExtention.Markdown(null,Model.GroupDescription).ToString()))</div>
	</div>

	<br />
	Bonne journée,<br />
	L'équipe.
</div>
