@{Layout = "Parent";}

<div style="@Model.Styles.StyleContent">
<table>
    <tr>
	    <td valign="top" style="vertical-align:top;padding-right:10px;height:285px;">
		    <a target="_blank" href="@Model.Lang.T("AppDomain")Person/@Model.Contact.Login">
		    	<div style="overflow:hidden;border:5px solid #fff;box-shadow:0 0 5px #888;width:170px;height:200px">
				    <img alt="@Model.Contact.FirstName @Model.Contact.LastName" src="@Model.Contact.Picture" />
			    </div>
		    </a>
	    </td>
    	<td valign="top">
	    	<p style="@Model.Styles.StyleTour">
		    	Bonjour,<br />
			    <a style='@Model.Styles.StyleLink' href='@Model.Lang.T("AppDomain")Person/@Model.Contact.Login'>@Model.Contact.FirstName @Model.Contact.LastName</a> vous invite sur <a style='@Model.Styles.StyleLink' href='@Model.Lang.T("AppDomain")'>@Model.Lang.T("AppName")</a> !
    		</p>

            <hr style="@Model.Styles.StyleHR" />
    		<div style="font-size:11px">@(new RazorEngine.Text.RawString(Sparkle.Helpers.HtmlExtention.Markdown(null,Model.Network.About).ToString()))</div>
        
	    </td>
    </tr>
    <tr>
        <td colspan="2">
            <hr style="@Model.Styles.StyleHR" />

            <p style="@Model.Styles.StyleTour;text-align:center;display:block">
                Vous pouvez <a style="@Model.Styles.StyleLink" href="@Model.InvitationUrl">rejoindre</a> @Model.Lang.T("AppName") dès maintenant !<br />
                Ou <a style="@Model.Styles.StyleLink" href="@Model.UnregisterUrl">refuser</a> cette invitation pour ne plus recevoir d'emails/newsletters de notre part.
            </p>

            <div style="text-align:center;">
                <p><a style="@Model.Styles.StyleButton" href="@Model.InvitationUrl">Rejoindre @Model.Lang.T("AppName")</a></p>
                <p>Ou copiez ce lien dans votre navigateur</p>
                <pre>@Model.InvitationUrl</pre>
            </div>
        </td>
    </tr>
</table>
</div>


