@{Layout = "Parent";}

<div style="@Model.Styles.StyleContent">
	<p>Bonjour @Model.FirstName,</p>
@if (Model.Message != null)
{
	@(new RazorEngine.Text.RawString(Html.Markdown(Model.Message).ToString()))
}
else
{
	<p>Nous avons reçu une demande de réinitialisation de votre mot de passe. Si vous n'avez pas fait cette demande, ignorez simplement cet e-mail. Sinon, vous pouvez le réinitialiser en cliquant sur ce lien :</p>
}

@if (Model.IsPasswordReset)
{
	<p><a style="@Model.Styles.StyleButton" href="@Model.Link">Changer votre mot de passe</a></p>
}
else
{
	<p><a style="@Model.Styles.StyleButton" href="@Model.Link">Activer votre compte</a></p>
}
    <p>Ou copiez ce lien dans votre navigateur</p>
    <pre>@Model.Link</pre>
    
    <p>
        @Model.Lang.T("A bientôt")<br />
        @Model.Lang.T("L'équipe")
    </p>
</div>
