@model Sparkle.Models.ChangePasswordModel
@{
    ViewBag.Title = Lang.T("Changer de mot de passe");
    this.SetHelpPage("Features/UserAccount");

    this.WebDependencies().Include(MyWebDependencies.JqueryValidationEngine);
    this.SetPageLayoutMode(PageLayoutMode.Center);
    this.SetAccentColor(SparkleAccentColor.Account);
}
@section CustomFocus{
    @FocusPage.Custom(ViewBag.Title)
    <p class="explication">@Lang.T("Le mot de passe doit comporter au minimum {0} caractères.", ViewBag.PasswordLength)</p>
}
<div class="space20"></div>

@using (Html.BeginFormEx(new { @class = "olddays olddays-labelsXL", }))
{
    @Html.ValidationSummaryEx()
<div>  
    @Html.LabelFor(m => m.OldPassword)
    @Html.PasswordFor(m => m.OldPassword, new { @class = "textbox" })
    @Html.ValidationMessageFor(m => m.OldPassword)
                
    @Html.LabelFor(m => m.NewPassword)
    @Html.PasswordFor(m => m.NewPassword, new { @class = "textbox" })
    @Html.ValidationMessageFor(m => m.NewPassword)
                
    @Html.LabelFor(m => m.ConfirmPassword)
    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "textbox" })
    @Html.ValidationMessageFor(m => m.ConfirmPassword)
                
    <label ></label>
    <input type="submit" class="button large accentColor" value="@Lang.T("Enregistrer")" />
</div>
}

<script type="text/javascript">
    $('#OldPassword').focus();
</script>
